################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/AVLTreec++/.vs/AVLTreec++/v16/Browse.VC.opendb
